<header>
  <h1>Masters of Mastery</h1>
  <nav>
    <ul>
      <li><a href="#" data-turbolinks="false" id="searchi"><%= fa_icon 'search', text: 'Search for Champion' %></a></li>
      <li><a href="#" data-turbolinks="false" id="abouti"><%= fa_icon 'info-circle', text: 'About' %></a></li>
    </ul>
  </nav>
  <div id="aboutdiv" class="hidden hiddenDis">
    <i class="fa fa-times fa-2x" aria-hidden="true" id="close"></i>
    <div id="aboutcontent">
      This project is created for the Riot API challange #3.
      I'm using <a href="http://rubyonrails.com" target="_blank">Ruby on Rails</a> for it.
      You can browse the soruce at <a href="https://github.com/LukBukkit/MastersOfMastery" target="_blank">GitHub</a>!<br/>
      Masters of Mastery isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games
      or anyone officially involved in producing or managing League of Legends.
      League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc.
      League of Legends © Riot Games, Inc.
    </div>
  </div>
</header>